body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

button {
    font-size: 30px;
    background-color: rgb(0, 182, 219);
    color: white;
    border-radius: 10px;
    border: 0px;
    font-family: "playpen sans";
}
button:hover {
    cursor: pointer;
}

#tabs {
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 66vw;
    padding-left: 17vw;
    padding-right: 17vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: aquamarine;
}

.tabButton {
    width: 200px;
    height: 50px;
}

#tictactoe {
    display: grid;
    margin-top: 100px;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    align-items: center;
    width: 450px;
    min-width: 250px;
    height: fit-content;
    box-sizing: content-box;
}

#tictactoe p {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 50%;
    padding-bottom: 50%;
    font-size: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p:hover {
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    #tictactoe {
        width: 80vw;
    }
    #tictactoe p {
        font-size: 65px;
    }
}

@media screen and (max-width: 400px) {
    #tictactoe p {
        font-size: 50px
    }
}

#connect {
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 850px;
    background-color: rgba(0, 0, 255, 0.33);
    padding: 20px;
    padding-bottom: 86%;
    border-bottom: 40px;
    height: 0;
}

#connect p{
    width: 12%;
    padding-bottom: 12%;
    margin: 5px;
    border-radius: 50%;
    background-color: #ffffff;
}

@media screen and (max-width: 980px) {
    body {
        justify-content: flex-start;
    }
    #connect {
        width: 80vw;
        padding-bottom: 75vw;
        min-width: 290px;
    }
    #connect p {
        width: 11%;
        padding-bottom: 12%;
    }

    #tabs {
        padding: 0;
        width: 100%;
        justify-content: space-around;
    }

    .tabButton {
        font-size: 16px;
        padding: 5px;
        width: 33%;
        min-width: 85px;
    }
}

@media screen and (max-width: 650px) {
    #connect {
        width: 75vw;
    }
    #connect p {
        margin: 3px;
    }
    .tabButton {
        font-size: 12px;
    }
}

@media screen and (max-width: 350px) {
    #vsComputerContainer label {
        font-size: 16px;
    }
}

#vsComputerContainer {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#vsComputer {
    display: inline;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
#vsComputer:hover {
    cursor: pointer;
}

label {
    font-size: 24px;
    display: inline;
    font-family: "playpen sans";
}

#hangman {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#hangmanCategory {
    position: relative;
    top: -40px;
}

#hangman p {
    z-index: 1;
    font-size: 24px;
    font-family: "playpen sans"
}
#hangman p:hover {
    cursor: default;
}

#hangmanMan {
    position: absolute;
    margin-top: 90px;
}

#hangmanStand {
    position: relative;
    left: 50px;
}

#hangmanPole {
    width: 100px;
    height: 225px;
    border: 3px solid black;
    border-left: 0px;
    border-bottom: 0px;
}

#hangmanPoleBase {
    width: 100px;
    position: relative;
    border-top: 3px solid black;
    left: 50px;
}

#hangmanInput {
    font-family: "playpen sans";
    font-size: 24px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    padding: 5px;
    text-align: center;
}

#hangman button, #hangman label, #hangman input {
    z-index: 5;
}

#hangmanSubmit {
    margin-top: 20px;
}

#hangmanCovers {
    position: absolute;
}
.hangmanCover {
    position: relative; 
/*
    
    top: 10px; 
    left: 10px; 
    width: 100px; 
    height: 100px;
*/
    background-color: #ffffff;
}

.hangmanCover:nth-child(1) {
    top: 80px;
    left: 97px;
    width: 110px;
    height: 240px;
}

.hangmanCover:nth-child(2) {
    top: -160px;
    left: 50px;
    width: 110px;
    height: 10px;
}

.hangmanCover:nth-child(3) {
    top: -145px;
    left: 29px;
    width: 52px;
    height: 52px;
}

.hangmanCover:nth-child(4) {
    top: -146px;
    left: 52px;
    width: 7px;
    height: 115px;
}

.hangmanCover:nth-child(5) {
    top: -251px;
    left: 15px;
    width: 38px;
    height: 25px;
}

.hangmanCover:nth-child(6) {
    top: -275px;
    left: 56px;
    width: 39px;
    height: 25px;
}

.hangmanCover:nth-child(7) {
    top: -215px;
    left: 29px;
    width: 24px;
    height: 28px;
}

.hangmanCover:nth-child(8) {
    top: -242px;
    left: 56px;
    width: 25px;
    height: 28px;
}

#hangmanSpaces {
    font-size: 24px;
    letter-spacing: 5px;
}
#hangmanSpaces:hover {
    cursor: default;
}

#hangmanGuessed {
    position: absolute;
    left: 10%;
    height: 25%;
    width: 10%;
    text-wrap: wrap;
    letter-spacing: 10px;
}

#result {
    position: relative;
    top: 100px;
    font-size: 36px;
    font-family: "playpen sans";
    visibility: hidden;
    z-index: 1;
}

#retryButton {
    position: relative;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    visibility: hidden;
    margin-bottom: 50px;
}